@font-face {
    font-family: "Fututa PT";
    font-weight: 300;
    src:
      local("Fututa PT"),
      url("../fonts/FuturaPT-Light.eot") format("eot"),
      url("../fonts/FuturaPT-Light.woff") format("woff"),
      url("../fonts/FuturaPT-Light.woff2") format("woff2");
  }
@font-face {
    font-family: "Fututa PT";
    font-weight: 400;
    src:
      local("Fututa PT"),
      url("../fonts/FuturaPT-Book.eot") format("eot"),
      url("../fonts/FuturaPT-Book.woff") format("woff"),
      url("../fonts/FuturaPT-Book.woff2") format("woff2");
  }
@font-face {
    font-family: "Fututa PT";
    font-weight: 500;
    src:
      local("Fututa PT"),
      url("../fonts/FuturaPT-Medium.eot") format("eot"),
      url("../fonts/FuturaPT-Medium.woff") format("woff"),
      url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  }
@font-face {
    font-family: "Segoe UI";
    font-weight: 500;
    src:
      local("Segoe UI"),
      url("../fonts/SegoeUI.eot") format("eot"),
      url("../fonts/SegoeUI.woff") format("woff"),
      url("../fonts/SegoeUI.woff2") format("woff2");
  }